<% provide(:title, 'Announcements') %>
<h1>Announcements</h1>

<%= link_to "Create new announcement", current_user %></li>
<% @announcements.each do |a| %>
  <div class="callout">
    <p><%= "Made by: #{full_name(a.user_id)}" %></p>
    <h4><%= a.content %></h5>
    <p><%= "Valid until #{a.expiration_date}" %></p>
    <a href=<%= url_for :action => :mark_as_seen, :announcement => a %>> Mark as seen </a>
  </div>
<% end %>