<% provide(:title, "#{@user.name} #{@user.last_name}") %>
<div class="callout">
  <h3><%= "Hello, #{@user.name} #{@user.last_name}!" %></h3>
</div>
<%= form_for(@announcement) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create public announcement" %>
  </div>
  <div class="field">
    <%= f.date_field :expiration_date %>
  </div>
  <%= f.submit "Post" %>
<% end %>