<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row columns">
      <p></p>
    </div>
      <% if notice %>
        <div class="callout success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="callout alert"><%= alert %></div>
      <% end %>
      <%= yield %>
  </body>
</html>
